@import 'responsive.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.parent {
  overflow: hidden;
  background-color: var(--color-background);
}

.screen {
  position: relative;
  height: 100vh;

  @include device(smallOnly) {
    height: min-content;
    padding: 100px 0 100px 0;
  }
}

.screenTitle {
  font-style: normal;
  font-weight: 700;
  @include adaptive-value('font-size', 40, 15, 0);
  line-height: 125%;
  color: var(--color-white);
}

.textGradient {
  background: linear-gradient(90deg, #0acffe 6.55%, #495aff 49.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.description,
.button {
  font-style: normal;
  font-weight: 500;
  @include adaptive-value('font-size', 24, 10, 0);
  line-height: 120%;
  color: var(--color-white);
}

.content {
  height: inherit;
  display: flex;
  align-items: center;
  @include adaptive-value('margin-left', 150, 50, 0);
  @include adaptive-value('margin-right', 150, 50, 0);
  @include device(smallOnly) {
    height: min-content;
  }
}

.secondAdditionalBlock {
  width: 45%;
  margin-left: auto;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  @include adaptive-value('row-gap', 30, 10, 0);
  @include device(smallOnly) {
    width: 100%;
    text-align: center;
  }
}

.contactForm {
  display: flex;
  @include adaptive-value('row-gap', 20, 10, 0);
  flex-direction: column;
}

.button {
  cursor: pointer;
  font-weight: 700;
  border: none;
  @include adaptive-value('padding', 24, 5, 0);
  @include adaptive-value('border-radius', 8, 3, 0);
  background: linear-gradient(90deg, #0acffe 0%, #495aff 100%);
}

.inputField,
.textareaField {
  width: 100%;
  outline: none;
  line-height: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  @include adaptive-value('font-size', 16, 12, 0);
  @include adaptive-value('border-radius', 8, 3, 0);
  @include adaptive-value('padding', 20, 10, 0);
}

.textareaField {
  resize: none;
  min-height: 140px;
}

.labelField {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  @include adaptive-value('font-size', 14, 12, 0);
}

.errorMessage {
  font-weight: 500;
  padding: 2px 0 0 0;
  color: var(--color-error);
  @include adaptive-value('font-size', 12, 8, 0);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// .line-chart .chart-draw-area {
//   fill: red;
// }

.chart-container .axis, .chart-container .chart-label {
  fill: #e8e8fc;
}

// element.style {
//   stroke: red;
//   fill: none;
//   stroke-width: 2;
// }

// .chart-container .dataset-units circle {
//   stroke: red;
// }

// element.style {
//   stroke: red;
//   fill: none;
//   stroke-width: 2;
// }