@import 'responsive.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.parent {
  overflow: hidden;
  background-color: var(--color-background);
}

.screen {
  position: relative;
  height: 100vh;

  @include device(smallOnly) {
    height: min-content;
    padding: 100px 0 100px 0;
  }
}

.screenTitle {
  font-style: normal;
  font-weight: 700;
  @include adaptive-value('font-size', 40, 30, 0);
  line-height: 125%;
  color: var(--color-white);
}

.textGradient {
  background: linear-gradient(90deg, #0acffe 6.55%, #495aff 49.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.description,
.button {
  font-style: normal;
  font-weight: 500;
  @include adaptive-value('font-size', 24, 10, 0);
  line-height: 120%;
  color: var(--color-white);
}

.content {
  height: inherit;
  display: flex;
  align-items: center;
  @include adaptive-value('margin-left', 150, 50, 0);
  @include adaptive-value('margin-right', 150, 50, 0);
  @include device(smallOnly) {
    height: min-content;
  }
}

.secondAdditionalBlock {
  width: 45%;
  margin-left: auto;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  @include adaptive-value('row-gap', 30, 10, 0);
  @include device(smallOnly) {
    width: 100%;
    text-align: center;
  }
}

.contactForm {
  display: flex;
  @include adaptive-value('row-gap', 20, 10, 0);
  flex-direction: column;
}

.button {
  cursor: pointer;
  font-weight: 700;
  border: none;
  @include adaptive-value('padding', 24, 5, 0);
  @include adaptive-value('border-radius', 8, 3, 0);
  background: linear-gradient(90deg, #0acffe 0%, #495aff 100%);
}

.inputField,
.textareaField {
  width: 100%;
  outline: none;
  line-height: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  @include adaptive-value('font-size', 16, 12, 0);
  @include adaptive-value('border-radius', 8, 3, 0);
  @include adaptive-value('padding', 20, 10, 0);
}

.textareaField {
  resize: none;
  min-height: 140px;
}

.labelField {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 0 5px 0;
  display: block;
  @include adaptive-value('font-size', 14, 12, 0);
}

.errorMessage {
  font-weight: 500;
  padding: 2px 0 0 0;
  color: var(--color-error);
  @include adaptive-value('font-size', 12, 8, 0);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chart-container .axis, .chart-container .chart-label {
  fill: var(--color-white--second);
}

//TABLE

.mdc-data-table__content .mdc-data-table__row {
  color: white;
  border: 1px solid red;
}

.mdc-data-table__content td:first-child {
  // border: 1px solid #f2f2f7;
  // border-right: unset;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.mdc-data-table__content td:last-child {
  // border: 1px solid #f2f2f7;
  // border-left: unset;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

//BORDER
// .mdc-data-table__content > tr > td {
//   border-bottom: 1px solid #f2f2f7;
//   border-top: 1px solid #f2f2f7;
// }

.mdc-data-table__content > tr > th {
  padding: 0 0 0 16px;
}

.mdc-data-table__row {
  height: 88px;
  background-color: #1F2025;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
}

.mdc-data-table__table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.mdc-data-table__sort-status-label {
  display: none;
}

.mdc-data-table__content > tr > td:first-child {
  border-right: 1px solid #E8E8FC;
}

.mdc-data-table__content > tr > td {
  padding: 0 20px 0 20px;
}


.mdc-data-table__header-cell-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #E8E8FC;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.mdc-data-table__header-cell:last-child {
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #E8E8FC;
  padding: 0 20px 0 20px;
}


.authInput {
  width: 100%;
  height: 40px;
  display: flex;
  align-content: center;
  padding: 0 10px 0 10px;
  column-gap: 10px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);

  input {
    width: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
  }
}